// Font Sizes
$sizes: (
  'xs': 12px,
  'sm': 14px,
  'md': 18px
);

$weight: (
  '400' : 400,
  '500' : 500,
  '600' : 600
);

@each $key,
$value in $sizes {
  .font-#{$key} {
    font-size: $value;
  }
}

@each $key,
$value in $weight {
  .font-#{$key} {
    font-weight: $value;
  }
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}